@import '../../shared/scss/variables.scss';

.dropdown-container {
  display: inline-flex;
  flex-direction: column;
  font-size: 18px;
}

.selected-option {
  padding: 13px 45px 13px 18px;
  border: 1px solid $grey;
  border-radius: 4px;
  cursor: pointer;
  position: relative;

  &::after {
    content: url('../../assets/svg/arrow-up.svg');
    position: absolute;
    right: 18px;
    transform: rotate(180deg);
  }

  &.is-open::after {
    transform: rotate(0deg);
  }

  &.disabled {
    color: $grey;
    background-color: $grey-dark;
    cursor: not-allowed;
  }
}

.option-list-wrapper {
  height: 0;
}

.option-list {
  width: 100%;
  position: relative;
  top: -4px;
  display: inline-flex;
  flex-direction: column;
  background-color: $black;
  z-index: 10;
  visibility: hidden;
  border: 1px solid $grey;
  border-radius: 0 0 4px 4px;

  &.is-open {
    visibility: visible;
  }
}

.option {
  border: none;
  cursor: pointer;
  text-align: left;
  color: $white;
  background-color: transparent;
  padding: 18px 45px 18px 22px;

  &:hover {
    background-color: $grey-dark;
  }
}
