@import '../../shared/Variable.scss';

.dropdown {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #3b3f4e;
  cursor: default;
  width: 282px;
  height: 48px;
}

.dropdown .arrow {
  border-color: #49485e transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: 0.3rem;
  position: absolute;
  right: 15px;
  top: 20px;
  width: 0;
}

.dropdown .arrow.disabled {
  border-color: #b4b4b4 transparent transparent;
}

.dropdown .arrow.open {
  border-color: transparent transparent #49485e;
  border-width: 0 5px 5px;
}

.dropdown .selected-value {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  height: 48px;
  color: #3b3f4e;
  background: #fffefb;
  border: 1px solid #b4b4b4;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 13px 33px 8px 18px;
  transition: all 200ms ease;
  width: 100%;
}

.dropdown.disabled .selected-value.disabled {
  background: #f0f2f4;
  border: 1px solid #b4b4b4;
  box-sizing: border-box;
  border-radius: 4px;
  color: #b4b4b4;
}

.dropdown .options {
  display: none;
  background-color: #fffefb;
  border: 1px solid #b4b4b4;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 192px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.dropdown .options.open {
  display: block;
}

.dropdown .option {
  box-sizing: border-box;
  color: #3b3f4e;
  cursor: pointer;
  display: block;
  padding: 11px 18px;
}

.dropdown .option.selected,
.dropdown .option:hover {
  background-color: $grey;
  color: #3b3f4e;
}
