@import '../../shared/scss/Variable.scss';

.coin-page {
  display: flex;
  // justify-content: right;
  align-items: center;
  // padding-left: 14em;
  overflow: hidden;
  height: 100vh;
  position: relative;
  // padding-right: 40em;
}

.coin-page-content {
  position: absolute;
  // margin-top: -6.25em;
  // right: 40em;
}

.pixel-coin-circle {
  position: absolute;
  // top: -120%;
  // right: -105%;
  z-index: -1;
  // transform: scale(1.1);
}

.coin-page-background {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: -2;
}

.coin-page-icon {
  &:first-child {
    margin-right: 0.625em;
  }
}

.coin-page-text-container {
  position: relative;
  // font-size: 70px;
  // line-height: 77px;
  width: 8.8em;
  margin: 0.85em 0;

  h1 {
    // font-size: 70px;
    margin: 0;
  }
}

.coin-page-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.coin-page-link:first-child {
  margin-bottom: 1.5em;
}

// TODO: make these button color styles global to use
.black-white-primary-button-color {
  background-color: $white;
  color: $black;
}

.black-white-secondary-button-color {
  border-color: $white;
  color: $white;
}

// TODO: finish media styles

@media screen and (max-width: $screen-max-width-biggest) {
  .coin-page-content {
    margin-top: -6.25em;
    right: 40em;
  }

  .pixel-coin-circle {
    top: -4.05em;
    right: -10em;
    transform: scale(1.05);
  }

  .coin-page-text-container {
    font-size: 70px;
    line-height: 77px;

    h1 {
      font-size: 70px;
    }
  }
}

@media screen and (max-width: $screen-max-width-big) {
  .coin-page-content {
    margin-top: -6.25em;
    right: 40em;
  }

  .pixel-coin-circle {
    top: -4.65em;
    right: -11em;
    transform: scale(0.95);
  }

  .coin-page-text-container {
    font-size: 63px;
    line-height: 70px;

    h1 {
      font-size: 63px;
    }
  }
}

@media screen and (max-width: $screen-max-width-medium) {
  .coin-page {
    align-items: unset;
  }

  .coin-page-content {
    margin-top: 8.5em;
    right: 7em;
  }

  .pixel-coin-circle {
    top: -12.75em;
    right: -19em;
    transform: scale(0.45);
  }

  .coin-page-text-container {
    font-size: 30px;
    line-height: 37px;
    margin: 0.8em 0 8.2em;

    h1 {
      font-size: 30px;
    }
  }

  .coin-page-icon {
    height: 20px;
    width: 20px;
  }
}

@media screen and (min-width: $screen-min-width-biggest) {
  .coin-page-content {
    margin-top: -6.25em;
    right: 40em;
  }

  .pixel-coin-circle {
    top: -3.45em;
    right: -9em;
    transform: scale(1.1);
  }

  .coin-page-text-container {
    font-size: 77px;
    line-height: 84px;

    h1 {
      font-size: 77px;
    }
  }
}
