@import '../../shared/Variable.scss';

.primary,
.secondary,
.red,
.yellow,
.blue {
  width: 93px;
  height: 44px;
  background-color: $purple;
  border-radius: 10px;

  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;

  color: $font-grey;

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: none;
  transition: all 0.1s linear;
}

.primary:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.primary:active {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.primary:disabled,
.primary[disabled] {
  background-color: $font-grey;
  color: #b4b4b4;
  box-shadow: none;
  cursor: default;
}

.white,
.red,
.yellow,
.blue {
  background-color: #fffefb;
  color: $purple;
  border: 2px solid $purple;
  box-shadow: none;
}

.red,
.yellow,
.blue {
  background-color: #010010;
}

.red {
  color: #d63031;
  border: 2px solid #d63031;
}

.yellow {
  color: #ffec40;
  border: 2px solid #ffec40;
}

.blue {
  color: #3dacfd;
  border: 2px solid #3dacfd;
}

.white:hover,
.red:hover,
.yellow:hover,
.blue:hover {
  border: 4px solid $purple;
  box-shadow: none;
}

.red:hover {
  border: 4px solid #d63031;
}

.yellow:hover {
  border: 4px solid #ffec40;
}

.blue:hover {
  border: 4px solid #3dacfd;
}

.white:active,
.red:active,
.yellow:active,
.blue:active {
  border: 3px solid $purple;
  box-shadow: none;
}

.red:active {
  border: 3px solid #d63031;
}

.yellow:active {
  border: 3px solid #ffec40;
}

.blue:active {
  border: 3px solid #3dacfd;
}

.white:disabled,
.white[disabled],
.red:disabled,
.red[disabled],
.yellow:disabled,
.yellow[disabled],
.blue:disabled,
.blue[disabled] {
  color: #b4b4b4;
  background: #fffefb;
  border: 2px solid #b4b4b4;
  box-shadow: none;
  cursor: default;
}

@media screen and (max-width: 425px) {
  .primary,
  .secondary {
    width: 90px !important;
    height: 34px !important;
    font-size: 10px;
    line-height: 12px;
  }
}
