%canvas {
  display: block;
}

.play-page {
  overscroll-behavior: none;
  touch-action: none;
  -webkit-overflow-scrolling: none;
}

.play-page-canvas-hexagon {
  @extend %canvas;
}

.play-page-canvas-line {
  @extend %canvas;

  position: absolute;
  inset: 0 auto auto 0;
}
