@import '../../shared/scss/variables.scss';

%canvas {
  display: block;
}

.play-page {
  overscroll-behavior: none;
  touch-action: none;
  -webkit-overflow-scrolling: none;
}

.play-page-loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($black, 0.5)
}

.play-page-canvas-hexagon {
  @extend %canvas;
}

.play-page-canvas-line {
  @extend %canvas;

  position: absolute;
  inset: 0 auto auto 0;
}
