@import '../../shared/scss/variables.scss';

@import './mixins.scss';
@import './extends.scss';

.play-page-popup-settings-content {
  @include play-page-popup-content(clamp(50px, 15vh, 135px) 0 0 clamp(10px, 2.8vw, 40px), 100%);
}

.play-page-popup-settings-type-selection {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0 30px;
}

.play-page-popup-settings-content-text {
  @extend .play-page-popup-content-text;

  color: $purple;
}

@media screen {
  .play-page-popup-settings-content {
    padding: 8.5vh 0 0;
  }
}
