@import '../../../shared/scss/variables.scss';

@import './extends.scss';
@import './mixins.scss';

.play-popup-info-content {
  @include play-popup-content(clamp(25px, 9vh, 85px) 1.5vw 0, 40% 60%);
}

.play-popup-info-hexagon-id {
  color: $purple;
}

.play-popup-info-button-hidden {
  visibility: hidden;
}

.play-popup-content-owner-wrapper {
  display: flex;
  grid-column: 1/3;
  align-items: center;
  gap: 0 15px;
  width: 100%;

  & .play-popup-content-text {
    word-break: break-all;
  }
}

.play-popup-content-owner {
  min-width: calc(40% - 15px);
}

@media screen and (max-width: $screen-max-width-medium) {
  .play-popup-info-content {
    padding: 4vh 0 0;
  }

  .play-popup-info-attack-button {
    justify-self: unset;
  }
}
