@import '../../../shared/scss/variables.scss';

.play-popup {
  position: absolute;
  right: 0;
  top: 0;
  width: clamp(300px, 40vw, 590px);
  height: 100%;
  background-color: $black;
  border: {
    left: 2px solid $purple;
  }
  padding: clamp(20px, 8.8vh, 80px) clamp(5px, 3.8vw, 55px) clamp(20px, 8.8vh, 80px) clamp(25px, 5.8vw, 85px);
}

.play-popup-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.play-page-close-popup-button {
  width: 44px;
  height: 44px;
  border: 2px solid $purple;
  background: transparent;
  color: $purple;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.play-popup-alerts-wrapper {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
}

.play-popup-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: $screen-max-width-big) {
  .play-popup {
    padding: {
      left: 15px;
      right: 15px;
    };
  }
}

@media screen and (max-width: $screen-max-width-medium) {
  .play-popup {
    min-height: 350px;
    height: fit-content;
    width: 100%;
    padding: 4.8vh 5.6vw;
    border: {
      bottom: 2px solid $purple;
      right: 2px solid $purple;
    };
    border-radius: 0 0 33px 33px;
  }

  .play-popup-loader {
    margin-top: 60px;
  }
}
