@import '../../../shared/scss/Variable.scss';

.error-404-desc {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 100px;
  line-height: 122px;
  text-align: center;
  letter-spacing: -0.02em;
}

@media screen and (max-width: $screen-max-width-mobile) {
  .error-404-desc {
    max-width: 315px;
    font-size: 50px;
    line-height: 51px;
  }
}
