@import '../../../shared/scss/variables.scss';

.button {
  border-radius: 10px;
  padding: 0 18px;
  height: 44px;
  font: {
    size: 18px;
    weight: 600;
  }
  cursor: pointer;
}

.primary {
  border: none;

  &.default-style {
    background-color: $purple;
    color: $font-grey;
  }

  &:hover {
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.25);
  }

  &:active {
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.2);
  }

  &:disabled {
    background-color: #2d3436;
    color: #b4b4b4;
    pointer-events: none;
  }
}

.secondary {
  background-color: transparent;
  border: {
    style: solid;
    width: 2px;
  }

  &.default-style {
    color: $purple;
    border: solid 2px $purple;
  }

  &:hover {
    border-width: 4px;
    padding: 0 16px;
  }

  &:active {
    border-width: 3px;
    padding: 0 17px;
  }

  &:disabled {
    color: #b4b4b4;
    background-color: #2d3436;
    border: 2px solid #b4b4b4;
    pointer-events: none;
  }
}
