@import '../../../shared/scss/Variable.scss';

.faq-primary-button-black-white-color {
  background-color: $white;
  color: $black;
}

.faq-secondary-button-black-white-color {
  border-color: $white;
  color: $white;
}
