@import '../../../shared/Variable.scss';

.button {
  border-radius: 10px;
  padding: 0 18px;
  height: 44px;
  font: {
    size: 18px;
    weight: 600;
  };
  cursor: pointer;
}

.primary {
  border: none;

  &.default-style {
    background-color: $purple;
    color: $font-grey;
  }

  &:hover {
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.25);
  }

  &:active {
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.2);
  }

  &:disabled {
    background-color: #2D3436;
    color: #B4B4B4;
    pointer-events: none;
  }
}

.secondary {
  background-color: transparent;
  border: {
    style: solid;
    width: 2px;
  };

  &.default-style {
    color: $purple;
    border: solid 2px $purple;
  }

  &:hover {
    border-width: 4px;
    padding: 7px 16px;
  }

  &:active {
    border-width: 3px;
    padding: 8px 17px;
  }

  &:disabled {
    color: #B4B4B4;
    background-color: #2D3436;
    border: 2px solid #B4B4B4;
    pointer-events: none;
  }
}

@media screen and (max-width: $screen-max-width-mobile) {
  .button {
    height: 24px;
    font-size: 10px;
    border-radius: 5px;
  }
}
