// main colors of the project

$white: #ffffff;
$black: #010010;

$font-black: #3b3f4e;

$grey-dark: #2d3436;
$grey: #b4b4b4;

$green-light: #55efc4;

$pink: #f178b6;

$yellow: #ffec40;

$red: #d63031;
$red-light: #ff7675;

$blue: #3dacfd;
$blue-dark: #02001f;

$purple: #604af7;

$screen-max-width-biggest: 1440px;
$screen-max-width-big: 1280px;
$screen-max-width-medium: 1024px;
$screen-max-width-small: 768px;
$screen-max-width-smallest: 480px;

$screen-min-width-biggest: 1441px;
$screen-min-width-big: 1281px;
$screen-min-width-medium: 1025px;
$screen-min-width-small: 769px;
$screen-min-width-smallest: 481px;
