// main colors of the project

$white: #f8f8f8;
$grey: #dfe6e9;
$grey-dark: #2d3436;
$green-light: #55efc4;
$green-dark: #00b894;
$pink: #f178b6;
$yellow: #FFEC40;
$red: #D63031;
$blue: #3DACFD;
$blue-dark: #02001F;
$red-light: #ff7675;
$purple: #604af7;
$black: #010010;
$grey-b4: #b4b4b4;

$font-grey: #f0f2f4;
$font-black: #3b3f4e;

$screen-max-width-mobile: 425px;

$screen-max-width-biggest: 1440px;
$screen-max-width-big: 1280px;
$screen-max-width-medium: 1024px;
$screen-max-width-small: 768px;
$screen-max-width-smallest: 480px;

$screen-min-width-biggest: 1441px;
$screen-min-width-big: 1281px;
$screen-max-width-medium: 1025px;
$screen-min-width-small: 769px;
$screen-min-width-smallest: 481px;
