@import '../../shared/scss/variables.scss';

.username-wrap {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.username-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  letter-spacing: -0.02em;

  margin: 0;
}

.username-controls-wrap {
  padding-top: 85px;
  max-width: 400px;
}

.username-btn-submit {
  margin-left: 20px;
}

@media screen and (max-width: $screen-max-width-smallest) {
  .username-title {
    max-width: 300px;
  }

  .username-btn-submit {
    display: block;
    margin: 24px auto 0;
  }
}
