@import '../../shared/scss/variables.scss';

/* .careers-page {
  max-width: 1920px;
  margin: 0 auto;
} */

.careers-page-team {
  height: 100vh;
  color: $black;
  text-align: center;
  background: conic-gradient(
    from 136.04deg at 71.2% 21.63%,
    #7cce7f 0deg,
    #ff6d4d 69.21deg,
    #84e9ff 114.38deg,
    #918ff4 183.75deg,
    #7cce7f 360deg
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.careers-page-heading {
  background: rgba(1, 0, 16, 0.5);
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.02em;
  padding: 1.5vh 0;
  color: $white;
  width: 100%;
}

.careers-page-title {
  margin: 19.3vh 0 0;
  font-weight: bold;
  font-size: 90px;
  line-height: 106%;
  letter-spacing: -0.02em;
}

.careers-page-desc {
  font-size: 40px;
  line-height: 106%;
  letter-spacing: -0.02em;
  margin: 1.9vh 0 12vh;
  max-width: 548px;
}

.careers-page-roles {
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 5.7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 2.6vw;
}

.careers-page-open {
  width: 302px;
  margin-right: 11.5vw;
}

.careers-page-open-title {
  font-weight: bold;
  font-size: 50px;
  line-height: 106%;
  letter-spacing: -0.02em;
}

.careers-page-open-desc {
  font-size: 20px;
  line-height: 106%;
  letter-spacing: -0.02em;
  margin-top: 3vh;
}

.careers-page-vacancy {
  width: 322px;
  height: 483px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
    linear-gradient(90deg, #4255ff 0%, #ff6d4d 18.95%, #84ff9f 31.31%, #e4d290 33.36%, #ff5a36 50.3%);
  border: 2px solid $white;
  padding: 5.4vh 33px 4vh;
  color: $black;
}

.careers-page-vacancy-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 106%;
  letter-spacing: -0.02em;

  margin-bottom: 3.8vh;
}

.careers-page-vacancy-title-small {
  font-weight: bold;
  font-size: 10px;
  line-height: 106%;
  letter-spacing: -0.02em;
}

@media screen and (max-width: $screen-max-width-small) {
  .careers-page-title {
    font-size: 50px;
  }

  .careers-page-desc {
    max-width: 318px;
    font-size: 25px;
  }

  .careers-page-roles {
    padding: 29vh 0 6.2vh;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 8vh 0;
  }

  .careers-page-open {
    margin-right: 0;
  }
}
