.home-header {
  margin-top: 240px;
  // will be uncommented after the task from the designer
  // position: sticky;
  // top: 40px;
  // z-index: 110;
}

.home-logo {
  width: 47px;
  height: 54px;
  background-image: url('../../assets/svg/logo.svg');
  margin: auto;
}
