@import '../../shared/scss/variables.scss';

.home-footer {
  max-width: 1440px;
  padding: 0 7.6vw 50px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: $font-black;
  text-align: center;
}

.home-footer > p:nth-child(n):not(p:first-child) {
  margin-top: 15px;
}

.home-footer-social {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.home-footer-social-list {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-right: 75px;
}

.home-footer-year {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: $screen-max-width-medium) {
  .home-footer-social-list {
    padding-right: 0;
  }
}

@media screen and (max-width: $screen-max-width-smallest) {
  .home-footer {
    padding: 0 14px 25px;
    font-size: 15px;
    line-height: 18px;
  }

  .home-footer-social {
    margin-top: 30px;
  }

  .home-footer-year {
    font-size: 15px;
    line-height: 18px;
  }

  .home-footer-logo {
    height: 38px;
    width: 80px;
  }
}
