@import '../../shared/scss/variables.scss';

.info-modal-position {
  position: absolute;
  z-index: 2;
}

.info-modal-colors {
  color: $white;
  background-color: #02001f;
}

.info-modal-size {
  width: 523px;
  padding: 32px;
}

.polygon-info-modal {
  z-index: 2;
}

@media screen and (max-width: $screen-max-width-smallest) {
  .polygon-info-modal {
    max-height: 80%;
  }
}
