@import '../../shared/Variable.scss';

.error-wrap {
  width: 100%;
  height: 100vh;

  position: relative;
  overflow: hidden;
}

.hexagon1 {
  height: 40%;
  position: absolute;
  top: -17.2%;
  left: -3.85%;
  z-index: -1;
}

.hexagon2 {
  height: 19%;
  position: absolute;
  top: 3%;
  right: 4.5%;
  transform: rotate(-15deg);
  z-index: -1;
}

.hexagon3 {
  height: 19%;
  position: absolute;
  left: 3.125%;
  bottom: 1%;
  transform: rotate(23.91deg);
  z-index: -1;
}

.hexagon4 {
  height: 40%;
  position: absolute;
  right: -3.85%;
  bottom: -17.2%;
  z-index: -1;
}

.error-svg {
  width: 116%;
  position: absolute;
  z-index: -2;
  top: 9.5%;
  left: -7%;
}

.error-vertical {
  display: none;
}

.error-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-title {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 200px;
  line-height: 244px;

  letter-spacing: -0.02em;
  margin: 0;
}

.error-btn-wrap {
  padding-top: 85px;
}

.error-btn {
  background-color: $white;
}

@media screen and (max-width: 780px) {
  .hexagon1 {
    height: 25%;
    top: -9%;
    left: -4%;
    transform: rotate(23.91deg);
  }

  .hexagon2 {
    display: none;
  }

  .hexagon3 {
    height: 15%;
    left: -2.5%;
    bottom: -2%;
    transform: rotate(15deg);
  }

  .hexagon4 {
    height: 25%;
    transform: rotate(50.17deg);
    right: -10%;
    bottom: -8%;
  }

  .error-svg {
    display: none;
  }

  .error-vertical {
    width: 52%;
    height: 92%;
    display: block;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }

  .error-btn-wrap {
    padding-top: 57px;
  }
}

@media screen and (max-width: $screen-max-width-mobile) {
  .hexagon1 {
    height: 25%;
    top: -9%;
    left: -4%;
    transform: rotate(23.91deg);
  }

  .hexagon2 {
    display: none;
  }

  .hexagon3 {
    height: 15%;
    left: -2.5%;
    bottom: -2%;
    transform: rotate(15deg);
  }

  .hexagon4 {
    height: 25%;
    transform: rotate(50.17deg);
    right: -10%;
    bottom: -8%;
  }

  .error-svg {
    display: none;
  }

  .error-vertical {
    height: 756px;
    display: block;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }

  .error-title {
    font-size: 100px;
    line-height: 122px;
  }

  .error-btn-wrap {
    padding-top: 57px;
  }
}
