// main colors of the project

$white: #F8F8F8;
$grey: #dfe6e9;
$grey-dark: #2D3436;
$green-light: #55efc4;
$green-dark: #00b894;
$red-light: #ff7675;
$red-dark: #d63031;
$purple: #604af7;
$black: #010010;

$font-grey: #f0f2f4;
$font-black: #3B3F4E;
