@import '../../shared/scss/variables.scss';

.container {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid $purple;
  z-index: 1;
}

.label {
  display: inline-block;
  padding: 13px 20px;
  cursor: pointer;
  position: relative;

  &:not(&:last-child) {
    border-right: 1px solid $purple;
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.input {
  width: 0;
  height: 0;
  appearance: none;

  &:checked + .description {
    color: $white;

    &::before {
      background-color: $purple;
    }
  }

  &:not(&:checked):disabled + .description {
    color: $purple;

    &::before {
      background-color: $grey-dark;
    }
  }
}

.description {
  color: $purple;
  font: {
    size: 18px;
    weight: 600;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

@media screen and (max-width: $screen-max-width-small) {
  .description {
    font-size: 14px;
  }
}
