@import '../../../shared/scss/Variable.scss';

.input {
  border: 1px solid #B4B4B4;
  border-radius: 4px;
  background-color: transparent;
  font-size: 18px;
  color: $white;
  width: 255px;
  height: 48px;
  padding: 0 18px;

  &:disabled {
    background-color: $grey-dark;
  }

  &:focus {
    border-color: $purple;
    outline: 0;
  }

  &.valid {
    border-color: $green-light;
  }

  &.invalid {
    border-color: $red-light;
  }
}

.input-label {
  display: inline-flex;
  flex-direction: column;
  cursor: text;

  &.disabled {
    cursor: default;
  }

  &.valid {
    color: $green-light;
  }

  &.invalid {
    color: $red-light;
  }
}

.description {
  font-size: 14px;
  color: #3B3F4E;
}
