@import '../../shared/scss/variables.scss';

.top-wrap {
  max-width: 1776px;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;

  position: relative;
}

.top-content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.top-btn {
  position: absolute;
  bottom: 75px;
}

.top-back-btn {
  left: 3.75%;
}

.top-show-btn {
  right: 3.75%;
}

.top-info {
  padding-top: 15%;
}

.top-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 45px;
  line-height: 85.9%;
  letter-spacing: -0.02em;
  margin: 0;
}

.top-table {
  padding-top: 5%;
  max-width: 625px;
  margin: 0 auto;
}

.player-list {
  width: 625px;
}

.top-desc {
  padding-top: 3%;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 120px;
  line-height: 85.9%;
  letter-spacing: -0.02em;
}

.top-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: $screen-max-width-small) {
  .top-content {
    display: block;
  }

  .top-info {
    padding-top: 180px;
  }

  .top-title {
    padding-left: 4%;
    font-size: 25px;
  }

  .top-desc {
    padding-top: 2%;
    padding-left: 20px;
    font-size: 50px;
  }

  .top-table {
    padding-top: 60px;
  }

  .player-list {
    margin-left: -106px;
  }

  .top-btn {
    left: 20px;
  }

  .top-show-btn {
    bottom: 39px;
  }

  .top-back-btn {
    top: 3.75%;
  }
}
