@import '../../shared/variables.scss';

@mixin priority-style($color, $imgColor) {
  border-color: $color;

  &:checked::after {
    color: $color;
    content: url('../../images/checkmark-' + $imgColor + '.svg');
  }
}

.checkbox {
  width: 24px;
  height: 24px;
  border: {
    width: 2px;
    style: solid;
  }
  appearance: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:checked {
    border-width: 3px;

    &::after {
      position: absolute;
    }
  }

  &.primary {
    @include priority-style($purple, 'purple');
  }

  &.secondary {
    @include priority-style($grey, 'grey');
  }
}

.checkbox-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.checkbox-description {
  margin-left: 12px;
  font-size: 20px;

  &.primary {
    color: $font-black;
  }

  &.secondary {
    color: $grey;
  }
}
