@import '../../shared/Variable.scss';

.checkbox-label-default,
.checkbox-label-purple {
  position: relative;
}

.checkbox-input-default,
.checkbox-input-purple {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  background: #fffefb;
  border: 2px solid #2d3436;
  /*   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block; */
  position: relative;
}

.checkbox-input-default:active,
.checkbox-input-default:checked:active {
  border: 3px solid #2d3436;
}

.checkbox-input-default:checked {
  border: 3px solid #2d3436;
  color: #2d3436;
}

.checkbox-input-default:checked:after,
.checkbox-input-line-default:checked:after {
  /*   content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7; */
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 6px;
  margin: auto;
  width: 8px;
  height: 12px;
  border-right: 2px solid #2d3436;
  border-bottom: 2px solid #2d3436;
  transform: rotate(45deg);
}

.checkbox-input-line-default:checked:after {
  bottom: 0;
  width: 12px;
  height: 2px;
  background-color: #2d3436;
  transform: rotate(0deg);
}

.checkbox-text-default,
.checkbox-text-purple {
  position: absolute;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #2d3436;
  margin-left: 12px;
}

.checkbox-input-purple {
  border: 2px solid $purple;
}

.checkbox-input-purple:active,
.checkbox-input-purple:checked:active {
  border: 3px solid $purple;
}

.checkbox-input-purple:checked {
  border: 3px solid $purple;
  color: $purple;
}

.checkbox-input-purple:checked:after,
.checkbox-input-line-purple:checked:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 6px;
  margin: auto;
  width: 8px;
  height: 12px;
  border-right: 2px solid $purple;
  border-bottom: 2px solid $purple;
  transform: rotate(45deg);
}

.checkbox-input-line-purple:checked:after {
  bottom: 0;
  width: 12px;
  height: 2px;
  background-color: $purple;
  transform: rotate(0deg);
}

.checkbox-text-purple {
  color: #3b3f4e;
}
