@import '../../shared/scss/variables.scss';

.coin-page {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.coin-page-content {
  position: absolute;
}

.pixel-coin-circle {
  position: absolute;
  z-index: -1;
}

.coin-page-background {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: -2;
  justify-content: center;
}

.coin-page-icon {
  &:first-child {
    margin-right: 0.625em;
  }
}

.coin-page-text-container {
  position: relative;
  width: 8.8em;
  margin: 0.85em 0;

  h1 {
    margin: 0;
  }
}

.coin-page-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.coin-page-link:first-child {
  margin-bottom: 1.5em;
}


@media screen and (max-width: $screen-max-width-biggest) {
  .coin-page-content {
    margin-top: -6.25em;
    right: 40em;
  }

  .pixel-coin-circle {
    top: -3.9em;
    right: -9.5em;
  }

  .coin-page-text-container {
    font-size: 70px;
    line-height: 77px;

    h1 {
      font-size: 70px;
    }
  }
}

@media screen and (max-width: $screen-max-width-big) {
  .coin-page-content {
    right: unset;
    margin: -6.25em 0 0 3em;
  }

  .pixel-coin-circle {
    top: -3.65em;
    right: -9em;
    width: 800px;
    height: 800px;
  }

  .coin-page-text-container {
    font-size: 63px;
    line-height: 70px;

    h1 {
      font-size: 63px;
    }
  }
}

@media screen and (max-width: $screen-max-width-small) {
  .coin-page-content {
    right: unset;
    margin: -6.25em 0 0 3em;
  }

  .pixel-coin-circle {
    top: -3em;
    right: -7.5em;
    width: 600px;
    height: 600px;
  }

  .coin-page-text-container {
    font-size: 56px;
    line-height: 63px;

    h1 {
      font-size: 63px;
    }
  }

  .coin-page-icon {
    height: 20px;
    width: 20px;
  }
}

@media screen and (max-width: $screen-max-width-smallest) {
  .coin-page {
    align-items: unset;
  }

  .coin-page-background {
    justify-content: unset;
    padding-top: 45%;
  }

  .coin-page-content {
    margin: 8.5em 0 0 2em;
    right: unset;
  }

  .pixel-coin-circle {
    top: -3.8em;
    right: -8.5em;
    width: 380px;
    height: 380px;
  }

  .coin-page-text-container {
    font-size: 30px;
    line-height: 37px;
    margin: 0.8em 0 8.2em;

    h1 {
      font-size: 30px;
    }
  }

  .coin-page-icon {
    height: 20px;
    width: 20px;
  }
}

@media screen and (min-width: $screen-min-width-biggest) {
  .coin-page-content {
    margin-top: -6.25em;
    right: 40em;
  }

  .pixel-coin-circle {
    top: -3.45em;
    right: -9em;
    transform: scale(1.1);
  }

  .coin-page-text-container {
    font-size: 77px;
    line-height: 84px;

    h1 {
      font-size: 77px;
    }
  }
}
