@import '../../../shared/scss/variables.scss';

@import '../extends.scss';

.wallet-page {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.wallet-page-main {
  display: flex;
  justify-content: center;
  gap: 0 14.625em;
  padding-top: 8.75em;
}

.wallet-page-background {
  position: absolute;
  bottom: -100px;
  width: 100%;
  height: 200px;
  z-index: -1;
  background-color: rgba($purple, 0.1);
  border-radius: 50% 50% 0 0;
  box-shadow: 0px 0px 250px $purple;
}

@media screen and (max-width: $screen-max-width-medium) {
  .wallet-page-main {
    gap: 0 3em;
  }
}

@media screen and (max-width: $screen-max-width-small) {
  .wallet-page-main {
    padding: 3.625em 0 0;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    gap: 3.375em 0;
  }

  .wallet-page-background {
    position: relative;
  }
}

@media screen and (max-width: $screen-max-width-smallest) {
  .wallet-page-main {
    padding: 3.625em 0 0;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    gap: 3.375em 0;
  }

  .wallet-page-background {
    position: relative;
  }
}
