@import './shared/scss/variables.scss';

body {
  width: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;

  background-color: $black;
  color: $white;
}

a {
  color: $purple;
  text-decoration: none;
}

.is-blurred {
  filter: blur(5px);
}

@supports (scrollbar-width: thin) {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba($font-black, 0.8) transparent;
  }
}

@supports not (scrollbar-width: thin) {
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba($font-black, 0.8);
    border-radius: 20px;
  }
}
