@import '../../shared/Variable.scss';

.get-started-screen {
  padding: 380px 0 530px;
  display: flex;
  justify-content: center;
  // overflow: hidden;
}

.info-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.whale-img {
  position: absolute;
  z-index: 1;
}

.whale-top {
  top: -250px;
  left: -360px;
}

.whale-bottom {
  top: 250px;
  right: -230px;
}

.get-started-modal-size {
  width: 523px;
  padding: 32px;
}

.get-started-modal-color {
  background-color: $black;
  color: $white;
  border: 1px solid $purple;
}

@media screen and (max-width: 425px) {
  .get-started-screen {
    justify-content: right;
  }

  .info-container {
    // right: -2px;
  }

  .whale-top {
    // TODO: download img separately from blur effect and then change transform to width & height
    transform: scale(0.77);
    left: -280px;
  }

  .whale-bottom {
    display: none;
  }

  .get-started-modal-size {
    width: 277px;
  }

  .get-started-modal-color {
    border-right: none;
  }
}
