@import '../../shared/scss/Variable.scss';

.faq-page {
  max-width: 1440px;
  margin: auto;
}

.faq-page-content.is-blurred {
  filter: blur(5px);
}

.faq-primary-button-color {
  background-color: $white;
  color: $black;
}

.faq-secondary-button-color {
  border-color: $white;
  color: $white;
}

.page-heading {
  font: {
    family: 'Montserrat';
    weight: 700;
    size: 100px;
  }
  padding: 0 1em;
  text-indent: -0.08em;
  margin: 0 0 1.28em;
}

.faq-topic-container {
  padding: 0 6.875em 14.125em;
}

.info-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-modal-size {
  width: 523px;
  max-height: 80%;
  padding: 32px;
}

@media screen and (max-width: $screen-max-width-mobile) {
  .page-heading {
    font-size: 50px;
    padding: 0 0.72em;
  }

  .faq-topic-container {
    padding: 0 2.25em 5.375em;
  }

  .info-modal-size {
    width: 344px;
  }
}
