@import '../../shared/scss/variables.scss';

.faq-header {
  width: 100%;
  padding: 4em 6.25em 16em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-header-link {
  display: inline-block;
  margin-right: 0.875em;
}

@media screen and (max-width: $screen-max-width-smallest) {
  .faq-header {
    padding: 4em 2.25em;
  }

  .faq-header-logo {
    width: 5.25em;
  }

  .faq-header-link {
    margin-right: 0.625em;
  }
}
