@import '../../shared/Variable.scss';

.faq-question {
  // height: 19.875em;
  // overflow: hidden;
}

.faq-question-heading {
  font: {
    size: 30px;
    weight: 600;
    style: 'Montserrat';
  }
  margin-bottom: 1.1em;
}

.faq-question-text {
  font-size: 24px;
}

.faq-question-text.short-text {
  height: 8em;
  overflow: hidden;
  margin-bottom: 1em;
}

@media screen and (max-width: $screen-max-width-mobile) {
  .faq-question-heading {
    font-size: 15px;
  }

  .faq-question-text {
    font-size: 12px;
  }
}
