@import '../../shared/scss/variables.scss';

.faq-question-heading {
  font: {
    size: 30px;
    weight: 600;
    style: 'Montserrat';
  }
  margin-bottom: 1.1em;
}

.faq-question-text {
  font-size: 24px;

  &.faq-short-text {
    height: 8.5em;
    overflow: hidden;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: $screen-max-width-smallest) {
  .faq-question-heading {
    font-size: 15px;
  }

  .faq-question-text {
    font-size: 12px;

    &.faq-short-text {
      height: 9em;
    }
  }
}
