@import '../../shared/scss/variables.scss';

.faq-topic:not(.faq-topic:last-child) {
  margin-bottom: 11.625em;
}

.faq-topic-heading {
  color: $purple;
  font: {
    weight: 700;
    size: 40px;
  }
  padding-bottom: 0.5em;
  border-bottom: 2px solid $purple;
}

.faq-question-container {
  padding: 5.25em 1.625em 0;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: $screen-min-width-smallest) {
  .faq-question-wrapper {
    width: calc(50% - 4.875em);

    &:nth-child(even) {
      margin-left: 9.75em;
    }

    &:nth-child(n + 3) {
      margin-top: 4.625em;
    }
  }
}

@media screen and (max-width: $screen-max-width-smallest) {
  .faq-topic:not(.faq-topic:last-child) {
    margin-bottom: 6em;
  }

  .faq-topic-heading {
    font-size: 20px;
  }

  .faq-question-container {
    padding: 2.75em 3.25em 0;
    flex-direction: column;
  }

  .faq-question-wrapper {
    width: 100%;

    &:nth-child(n + 2) {
      margin-top: 4.625em;
    }

    &:nth-child(even) {
      margin-left: 0;
    }
  }
}
